[submodule "external/oh-my-zsh"]
	path = external/oh-my-zsh
	url = git@github.com:brianarn/oh-my-zsh.git
[submodule "external/base16-shell"]
	path = external/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "external/fzf"]
	path = external/fzf
	url = git@github.com:junegunn/fzf.git
