[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/ragtag"]
	path = vim/bundle/ragtag
	url = http://github.com/tpope/vim-ragtag.git
	ignore = untracked
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = http://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
	ignore = untracked
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
	ignore = untracked
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = http://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = http://github.com/vim-scripts/matchit.zip.git
	ignore = untracked
