# Brian Arnold's custom JavaScript snippets

# I love me some console
snippet cl
	console.log(${1:arguments});
	${2}

# Dojo-related
snippet dr
	dojo.ready(function () {
		${1:console.log('dojo.ready');}
	}); // dojo.ready(...)
snippet dq
	dojo.query("${1:sel}")${2}
