# PHP snippets for Brian Arnold
snippet ql Non-Expanding Query Loop
	while ($row = mysql_fetch_assoc($result)) {
		${1:// Code}
	}

snippet qle Expanding Query Loop
	while ($row = mysql_fetch_assoc($result)) {
		extract($row, EXTR_PREFIX_ALL, ${1});
		${2:// Code}
	}

snippet qu
	$result = mysql_query(${1:\$query});
	if (!$result) trigger_error("Unable to query ${2}", E_USER_ERROR);

snippet err
	trigger_error("Unable to ${1:do something}!", E_USER_ERROR);
