# PHP snippets for Brian Arnold
snippet qu
	$result = mysql_query(${1:\$query});
	if (!$result) trigger_error("Unable to query ${2}", E_USER_ERROR);

snippet ql No Expanding
	while ($row = mysql_fetch_assoc($result)) {
		${1:// Code}
	}
snippet ql Expanding
	while ($row = mysql_fetch_assoc($result)) {
		extract($row, EXTR_PREFIX_ALL, ${1});
		${2:// Code}
	}
